@import 'config';
@import 'utilities';
@import 'item_grid';

// General styles
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: 'Roboto', monospace;
  background: white;   
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul, ol {
  list-style: none;
}

h1, h2 h3, h4 {
  font-family: 'Source Code Pro', monospace;
  text-transform: uppercase;
}

img {
  width: 100%;
}

// Logo
#logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
}

// Main Nav
#main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid; // on hover, it gets an underline, so this prevents the pushing of the text upwards to give it a border, so we make it transparent at first
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;
    font-weight: bold;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}

// Header
#header {
  // Header home
  &-home {
    position: relative;
    background: $bg-image no-repeat center top 10% / cover ;
    height: 100vh;
    color: white;

    // Header content
    .header-content {
      position: absolute;
      top: 40%;
      padding: 10px;
      text-align: center;
      line-height: 1.2;

    }
  }

  &-home::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  &-home * {
    z-index: 100;
  }

  // Header inner
  &-inner {
    position: relative;
    background: $bg-image no-repeat 10% 0% / cover;
    height: 5.5rem;
    border-bottom: 3px solid $main-color;
  }

  &-inner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  &-inner * {
    z-index: 100;
  }
}

// About sections
#about {
  &-a {
    .about-info {
      display: grid;
      grid-template-areas: 'bioimage bio bio';
      grid-gap: 1.2rem;
    }

    // Grid area
    .bio-image {
      grid-area: bioimage;
    }

    .bio {
      grid-area: bio;
      border-left: 3px solid $main-color;
      padding: 0.8rem;

      p {
        text-align: left;
      }
    }
  }

  &-b {
    .progress {
      overflow: hidden;
      height: 20px;
      background: $medium-color;
      border-radius: 5px;
      margin-bottom: 0.3rem;

      div {
        height: 100%;
        color: #fff;
        text-align: center;
        background: $main-color;
      }
    }
  }

  // About section C
  &-c {
    .cert {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.5rem;
      text-align: center;

      // .item5 {
      //   grid-column-start: 2;
      //   grid-column-end: 3;
      // }
      // .item6 {
      //   grid-column-start: 3;
      //   grid-column-end: 4;
      // }
      
      &-img-badge {
        position: relative;
        text-align: center;
        margin: auto;
        display: inline-block;

        transition: all 1s;
        &:hover .cert {
          &-image {
            height: 140px;
            width: 140px;
          }
          &-badge {
            height: 45px;
            width: 45px;
            line-height: 45px;
          }
        }
      }

      // cert-image
      &-image {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        transition: all 1s;
      }

      // cert-badge
      &-badge {
        position: absolute;
        top: 3%;
        left: 60%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        background: $main-color;
        color: set-text-color($main-color);
        border-radius: 50%;
        transition: all 1s;
      }
    }
  }

  &-d {
    .testimonials {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > div {
        width: 500px;

        & > p {
          text-align: center;
        }
      }

      ul {
        list-style: none;
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        li:first-child {
          margin-right: 0.5rem;
          overflow: hidden;
          border-radius: 50%;
          width: 70px;
          height: 70px;
        }
      }

      p {
        border: 5px solid $medium-color;
        border-radius: 5px;
        padding: 0.5rem;
      }

      img {
        margin-right: 0.5rem;
      }
    }
  }
}

// Contact Page
#contact {
  &-a {
    .text-fields {
      display: grid;
      grid-template-areas: 
        'name email'
        'subject phone'
        'message message';
      grid-gap: 1.2rem;
      margin-bottom: 1.2rem;
    }

    .name-input {
      grid-area: name;
    }

    .email-input {
      grid-area: email;
    }
    .subject-input {
      grid-area: subject;
    }
    .phone-input {
      grid-area: phone;
    }
    .message-input {
      grid-area: message;
      height: 100px;
    }

    .text-input {
      padding: 0.5rem 1rem;
    }
    
    button[type='submit'] {
      width: 50%;
    } 
  }

  &-b {
    .contact-info {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  &-c {
    h1 {
      text-align: center;
      font-size: 4rem;
    }
  }
}

// Footer
#main-footer {
  background: $dark-color;
  color: #fff;
  height: 5rem;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;

    a {
      color: white;
    }

    .social .fab, .social .far {
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;

      &:hover {
        background: $main-color;
      }
    }
  }
}

// Import media queries
@import 'media';