@import 'config';
@import 'utilities';

// General styles
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: white;   //line-height: 1.6;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul, ol {
  list-style: none;
}

h1, h2 h3, h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// Logo
#logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
}

// Main Nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid; // on hover, it gets an underline, so this prevents the pushing of the text upwards to give it a border, so we make it transparent at first
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}

// Header
#header {
  // Header home
  &-home {
    background: $bg-image no-repeat center right / cover;
    height: 100vh;
    color: white;

    // Header content
    .header-content {
      text-align: center;
      padding-top: 20%;
      //line-height: 1.2;
    }
  }

  // Header inner
  &-inner {

  }
}